<div ng-controller="ModalInstanceCtrl">
        <div class="modal-header">
            <h3>Create A New Group!</h3>
        </div>
        <div class="modal-body">
            GroupName Chosen: <b>{{ groupName }}</b>
            <input type="text" class="form-group" placeholder="Group Name" required data-ng-bind="groupName">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>
       </div>