<div class="panel-body chat__boxes">
    <div class="chat__box" data-ng-repeat="msg in messages | orderBy:'timestamp':reverse">
        <div class="chat__box-meta"> <div class="chat__box-meta-user">Username - {{msg.posted_by}}</div> <div class="chat__box-meta-time">{{msg.timestamp | humaneDate}}</div></div>
        <div class="chat__box-message"><p>{{msg.message_text}}</p></div>
    </div>
    <div class="chat__boxes-none" data-ng-if="!messages">
    	<p>There are no messages in this group, go ahead and send one</p>
    </div>
     <!-- <div class="chat__box">
        <div class="chat__box-meta"> Jess - <div class="chat__box-meta-time">5 mins</div></div>
        <div class="chat__box-message"><p>Chat Message 2</p></div>
    </div>
    <div class="chat__box">
        <div class="chat__box-meta"> Username - <div class="chat__box-meta-time">10 days</div></div>
        <div class="chat__box-message"><p>Chat Message 3</p></div>
    </div> -->
</div>