<div class="jumbotron doc-section clearfix" data-ng-init="init()">
<div class="one-third column">
	<h3>Confirm Email</h3>
	
	<div class="confirm">
		<p data-ng-bind="confirm.message"></p>
		<button id="continueButton" data-ng-click="nextStep()" class="btn btn-primary btn-lg">Continue</button>
	</div>
</div>
</div>