<!--//groups view -->
<div class="page-header">
	<h2>Groups</h2>
</div>
<div class="container" data-ng-init="init()">
	<div class="user--groups row">
    <div>
    	<div data-ng-show="anyGroups()">
    		<p>These are your groups</p>
            <div data-next-steps data-ng-model="notify"></div>
    		<div class="user--groups-list">
    			<div data-ng-repeat="group in groups" class="group__container row">
                    <div class="col-md-4 groups">
                        <div class="group__icon">
                            <i class="icon-group icon icon-white"></i>
                        </div>
                        <div class="text--white group__name">
                            <div class="group__info">
                                <h3>{{group.group_name}}</h3>
                                <p class="group__info-owner" title="Group owner">{{group.owner}}</p>
                            </div>
                            <div class="group__actions">
                                <button ng-if="group.isOwner" class="group__action-btn group__action-add btn blue-bg" data-toggle="tooltip" data-placement="top" title="Invite User" data-ng-click="inviteUser($index)">
                                    <i class="glyphicon glyphicon-asterisk text--white"></i>
                                </button>
                                <button class="group__action-btn group__action-messages btn blue-bg" data-toggle="tooltip" data-placement="top"title="Send Message to group" data-ng-click="sendMessage($index)">
                                    <i class="glyphicon glyphicon-envelope text--white"></i>
                                </button>
                                <button ng-if="group.isOwner" class="group__action-btn group__action-delete btn blue-bg" data-toggle="tooltip" data-placement="top" title="Delete Group" data-ng-click="deleteGroup($index)" ng-confirm-click="Are you sure you want to delete this group - {{group.group_name}}">
                                    <i class="glyphicon glyphicon-remove text--white"></i>
                                </button>

                                <button ng-if="!group.isOwner" class="group__action-btn group__action-leave-group btn blue-bg" data-toggle="tooltip" data-placement="right" title="Leave Group" data-ng-click="leaveGroup($index)" ng-confirm-click="Are you sure you want to leave this group - {{group.group_name}}">
                                    <i class="glyphicon glyphicon-log-out text--white"></i>
                                </button>
                            </div>
                        </div>
                        <div class="group__meta">
                            <!-- <div class="panel panel-default"> -->
                              <!-- Default panel contents -->
                              <!-- <div class="panel-heading group__meta-owner">{{group.owner}}</div> -->
                              
                            <!-- </div> -->
                            <!--<p class="">
                                {{group.invited_members}}
                            </p> -->
                            <div class="panel panel-default group__meta-heading" ng-if="group.accepted_members">
                                <div class="panel-heading">Members</div>
                            </div>
                            <ul class="list-group group__meta-members">
                                <li class="list-group-item" data-ng-repeat="member in group.accepted_members">
                                <a href="" data-ng-if="group.isOwner" data-ng-click="removeMemberFromGroup($parent.$index,$index)"class="group__meta-members-controls"><i class="glyphicon glyphicon-remove-sign text--red" ></i></a>{{member}}
                                </li>
                              </ul>
                            <div class="divider"></div>
                             <!-- List group -->
                            <div class="panel panel-default group__meta-heading" ng-if="group.invited_members">
                                <div class="panel-heading">Invited Users</div>
                            </div>
                              <ul class="list-group group__meta-invited-members">
                                <li class="list-group-item" data-ng-repeat="invited_member in group.invited_members">{{invited_member}}</li>
                              </ul>
                            <div class="group__meta-nomembers" data-ng-if="group.noMembers">
                                <p> There are no members in your Group <a href="" data-ng-click="inviteUser($index)">Invite</a> some </p>
                            </div>
                        </div>
                    </div> <!-- //end groups container -->
                    <div class="col-md-8 group-chats">
                        <!-- // Group Chat Message -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-comment">&nbsp;</i> Messages in {{group.group_name}}</h3>
                            </div>
                            <!-- //List all group message -->
                           <div data-group-messages data-ng-model="group" ></div>
                           <!-- data-ng-attr-group-name="group.group_name" data-ng-attr-owner="group.owner" -->
                        </div>
                    </div>
    					
			    </div> <!-- //end groups ng-repeat  -->
    		</div>
    	</div>
    	<div data-ng-show="!anyGroups()">
    		You do not have any groups, would you like to <a href="" data-ng-click="toggleModal('#createGroupModal')">Create a Group</a>
    	</div>
    </div> 
    </div>
  </div>
</div>

    <!-- GenericModal -->
    <div class="modal fade" id="messageGroup" tabindex="-1" role="dialog" aria-labelledby="messageGroup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form name="messageGroupForm" class="form-message-user" novalidate data-ng-submit="messageGroup()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Send a Message to {{modal.message.group.group_name}} Members</h3>
        </div>
        <div class="modal-body form-group" >

            <div class="span4 notify" data-ng-show="modal.message.notify.show">
              <div  id="success-alert" class="alert alert-dismissable alert-{{modal.message.notify.outcome}}">
                <button type="button" class="close" data-ng-click="modalReset('message')">&times;</button>
                <p data-ng-bind="modal.message.notify.message"></p>
              </div>
            </div>
            <div class="span4"  data-ng-show="isInvalid('messageGroupForm')">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> Please enter a message.
              </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error':isInvalid('messageGroupForm')}">
                <textarea id="messagedGroup" name="messagedGroup" class="form-control input-xlarge" placeholder="Enter the message text" required data-ng-model="modal.message.messageText" data-ng-hide="modal.message.notify.show" rows="3"></textarea>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="modalReset('message')">Close</button>
            <button class="btn btn-primary" type="submit" data-ng-hide="modal.message.notify.show">OK</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Modal -->

<!-- GenericModal -->
    <div class="modal fade" id="inviteUserToGroup" tabindex="-1" role="dialog" aria-labelledby="inviteUserToGroup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form name="inviteUserForm" class="form-invite-user" novalidate data-ng-submit="sendInvite()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Invite User to join {{modal.invite.group.groupName}}</h3>
        </div>
        <div class="modal-body form-group" >

            <div class="span4 notify" data-ng-show="modal.invite.notify.show">
              <div  id="success-alert" class="alert alert-dismissable alert-{{modal.invite.notify.outcome}}">
                <button type="button" class="close" data-ng-click="resetInvite()">&times;</button>
                <p data-ng-bind="modal.invite.notify.message"></p>
              </div>
            </div>
            <div class="span4"  data-ng-show="isInvalid('inviteUserForm')">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> Please enter the email of a user to invite to your group.
              </div>
            </div>
            <div class="form-group" data-ng-class="{'has-error':isInvalid('inviteUserForm')}">
                <input type="email" id="invitedUser" name="invitedUser" class="form-control" placeholder="Enter the email of the user" required data-ng-model="modal.invite.user" data-ng-hide="modal.invite.notify.show">
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="modalReset('invite')">Close</button>
            <button class="btn btn-primary" type="submit" data-ng-hide="modal.invite.notify.show">OK</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Modal -->

  <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <form name="createGroupForm" class="form-create-group"  data-ng-submit="createGroup()" novalidate>
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Create A New Group!</h3>
        </div>
        <div class="modal-body form-group" >

			<div class="span4 notify" data-ng-show="notify.show">
		      <div  id="success-alert" class="alert alert-dismissable alert-success">
		        <button type="button" class="close" data-ng-click="resetCreate()">&times;</button>
		        <p data-ng-bind="notify.message"></p>
		      </div>
		    </div>
	        <div class="span4"  data-ng-show="isInvalid('createGroupForm')">
		      <div class="alert alert-dismissable alert-danger">
		        <button type="button" class="close" data-dismiss="alert">&times;</button>
		        <strong>Error</strong> Please enter the name of a group.
		      </div>
		    </div>
        	<div class="form-group" data-ng-class="{'has-error':isInvalid('createGroupForm')}">
        		<input type="text" id="groupName" name="groupName" class="form-control" placeholder="Enter a name for your group" required data-ng-model="groupName" data-ng-hide="notify.show" data-ng-pattern="/^[A-Za-z\d\s]+$/">
        	</div>
            
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit" data-ng-hide="notify.show">OK</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal