<!DOCTYPE html>
<html data-ng-app="chatApp">
<head>
	<title>SWEN90002 - Engineering for Internet Applications - Lab 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="resources/css/lib-styles.css">
	<link rel="stylesheet" href="resources/css/font-awesome.css">
	<link rel="stylesheet" href="resources/css/bootstrap.css">
  <link rel="stylesheet" href="resources/css/chat.css">
</head>
<body>
	<!-- header start -->
	<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="HeaderCtrl" data-ng-init="init()">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/proj2">SWEN90002 - Group chat</a>
        </div>
        <div class="navbar-menu collapse navbar-collapse">
        <ul id="navBar" class="nav navbar-nav navbar-right">
            <li data-ng-repeat="tab in navTabs.tabs" data-ng-class="{active:isActive(tab.path)}" data-ng-show="showNavTab()">
              <a href="#{{tab.path}}" class="nav-link"><span>{{tab.name}}</span></a>
            </li>
            <!-- <data-chat-nav data-ng-model="navTabs"></data-chat-nav> -->
            <li class="dropdown" data-ng-show="isLoggedIn()">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog icon-white"></i>&nbsp;Options<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="" data-ng-click="resetPassword()">Reset Password</a></li>
                  <li><a href="" data-ng-click="deleteAccount()"><i class="icon-remove icon-white"></i>&nbsp;Delete Account</a><li>
                  <li class="divider"></li>
                 <li><a href="" data-ng-click="logOut()"><i class="glyphicon glyphicon-off icon-white"></i>&nbsp;Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- header end -->
	
	<!--Page Content -->	
	<div class="container">
	 <div class="page__content">
	 	
	 
		<div id="loader" data-ng-show="loading" data-ng-cloak>Loading......</div>
		
	<!-- Browser incompatibility warning -->
    <!--[if lt IE 9]>
    <div class="sixteen columns">
      <div class="row-fluid" style="margin-top: 60px; height: 200px;">
          <p><b>Old Browser Warning!</b> This Email Registration System is designed to work on modern browsers. We see you are using IE8 or below. Please switch to either:
            <ol>
              <li><a href="http://www.google.com/chrome">Chrome</a></li>
              <li><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
              <li><a href="http://www.apple.com/au/safari/">Safari</a></li>
              <li><a href="http://www.microsoft.com/AU/Internet-Explorer">Internet Explorer 9 or 10</a></li>
            </ol>
          <li>
      </div>
    </div>
    <![endif]-->
		<div data-ng-view></div>

    <footer class="page__footer panel-footer" data-ng-show="isLoggedIn()" data-ng-controller="FooterCtrl" data-ng-init="init()">

      <div class="container page__footer-ctrls">
      <form name="sendChatForm" id="sendChatForm" class="page__footer-form form-inline " novalidate role="form" data-ng-submit="sendMessageToGroup()">
        <div class="form-group"><a class="btn blue-bg text--white page__footer-ctrls--add-group" href="" data-ng-click="newGroup()"><i class="icon icon-plus icon-white">&nbsp;</i>Add Group</a></div>
        <div class="form-group" data-ng-class="{'has-error':isInvalid('chatMessage')}">
         <label class="sr-only" for="message">Enter Message</label>
        <input id="message" type="text" name="chatMessage" class="form-control page__footer-input" required data-ng-model="chatMessage" placeholder="Enter Message"  />
      </div>
      <div class="form-group " data-ng-class="{'has-error':isInvalid('selectedGroup')}">
          <label for="select-group" class="sr-only">Select Group</label>
          <select data-ng-model="selectedGroup" data-ng-options="grp as grp.group_name for grp in groups" required  class="form-control page__footer-input" name="selectedGroup">
            <option value="">Choose Group</option>
          </select>
      </div>
      <div class="form-group">  
        <button id="sendMessageBtn" type="submit" class="btn btn-primary"><i class="icon icon-comments icon-white">&nbsp;</i>Send Message</button>
      </div>
      </form>
      </div>
      <!-- <div class="chat__box" data-ng-controller="ChatFormCtrl" >
        <form id="chatForm" name="chatForm">
          <label for="chat-username">User: </label>
          <input type="text" id="chat-username" class="chat__username" data-ng-model="chat.username" required>
          <label for="chat-input">Chat: </label> 
          <input type="text" id="chat-input" class="chat__input" data-ng-model="chat.message" data-on-enter="sendChat()" required>
          <a class="chat__submit icon-comments" id="chat-submit" data-ng-click="sendChat()" data-ng-disabled="isChatValid()">&nbsp;</a>-->
          <!-- triggerOn='doSubmit' -->
      <!--  </form>
      </div> -->
    </footer>
		</div>
	</div>
	<!--Page Content End -->	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<script type="text/javascript" src="resources/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="resources/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="resources/bower_components/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="resources/bower_components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="resources/bower_components/underscore.string/lib/underscore.string.js"></script>
	<script type="text/javascript" src="resources/lib/humane.js"></script>
  <script type="text/javascript" src="resources/bower_components/jquery/jquery.js"></script>
  <script type="text/javascript" src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="resources/js/app.js"></script>

</body>
</html>