<div class="jumbotron doc-section clearfix" data-ng-init="init()">
<div class="one-third column">
	<h3>Log in</h3>

	<div data-next-steps data-ng-model="notify"></div>
	<form name="loginForm" class="form login-form" novalidate data-ng-submit="login()">
		
	<div class="errors" data-ng-show="(loginForm.$dirty && loginForm.$invalid) || (submitted && loginForm.$invalid)">
		  <span>Error:</span><br/>
          <span data-ng-show="loginForm.email.$error.required" class="text-danger">Tell us your email to register.</span>
          <span data-ng-show="loginForm.email.$error.email" class="text-danger">This is not a valid email.</span>
          <span data-ng-show="loginForm.password.$error.required" class="text-danger">We need a password to log you in.</span>
    </div>
    <fieldset data-ng-hide="hideForm">
    <div class="form-group">
    	<input id="email" type="email" name="email" class="form-control" required data-ng-model="email" placeholder="Email Address"  />
    </div>
    <div class="form-group">
    	<input id="password" type="password" class="form-control" name="password" required data-ng-model="password" placeholder="Password"  />
    </div>
    <div class="form-group">	
		<button id="loginBtn" type="submit" class="btn btn-primary btn-lg">Login</button>
	</div>
		<p><a data-ng-href="#/reminder">Forgot Password?</a></p>
		<p>Not a member? <a data-ng-href="#/register">Register</a></p>
    </fieldset>
	
	</form>
</div>
</div>