<div class="doc-section clearfix">
<div class="one-third column" data-ng-init="init()">
	<div class="page-header">
		<h2>Welcome to Group Chat</h2>
	</div>
	
	<div class="content">
	
		<div data-next-steps data-ng-model="notify"></div>
		<!-- <p>You are logged in</p>
		<p><a href="" data-ng-click="logOut()">Log Out</a></p>
		<p><a href="" data-ng-click="resetPassword()">Reset Password</a></p>
		<p><a href="" data-ng-click="deleteAccount()">Delete Account</a></p> -->
	</div>
</div>
<section class="page__content" data-ng-controller="MainCtrl" data-ng-init="chatMessages=[]" data-redraw>
			<div data-ng-repeat="chat in chatMessages | orderBy:'timestamp':reverse" class="chat__container">
				<div class="chat__container--arrow "></div>
				<div>
					<div class="chat__bubble">{{chat.message}}</div>
					<div class="chat__meta">
						<p>
							{{chat.timestamp | humaneDate}} <span class="chat__meta--username"> -- {{chat.username}}</span>
						</p>
					</div>

				</div>
			</div>
</section>
</div>