<div class="jumbotron doc-section clearfix">
<div class="one-third column">
	<h3>Register</h3>

	<div class="notify" data-ng-show="notify.show">
	 <p data-ng-bind="notify.message"></p>
	 <button id="continueButton" data-ng-click="notify.nextStep()" class="btn btn-default">Continue</button>
	</div>
	<form name="regForm" class="reg-form" novalidate data-ng-submit="register()">
	
	<div class="errors" data-ng-show="regForm.email.$dirty && regForm.email.$invalid || (empty && regForm.email.$pristine)">
		  <span>Error:</span><br/>
          <span data-ng-show="regForm.email.$error.required" class="text-danger">Tell us your email to register.</span>
          <span data-ng-show="regForm.email.$error.email" class="text-danger">This is not a valid email.</span>
    </div>
    <fieldset data-ng-hide="hideForm">
    	<div class="form-group">
    		<input id="email" type="email" name="email" class="form-control" required data-ng-model="email" placeholder="Email Address"  />
    	</div>
    	<div class="form-group">
    		<button id="regButton" type="submit" class="btn btn-primary btn-lg">Register</button>
    	</div>
		
		
		<p>Already registered? Then <a href="#/login">Login</a></p>
    </fieldset>
	
	</form>
</div>
</div>