<div class="jumbotron doc-section clearfix" data-ng-init="init()">
<div class="one-third column">
	<h3>Password Reminder</h3>
	
	<div class="content">
	<form name="reminderForm" class="form reminder-form" novalidate data-ng-submit="sendReminder()">
	
	<div data-next-steps data-ng-model="status"></div>
	
	<div class="errors" data-ng-show="(reminderForm.$dirty && reminderForm.$invalid) || (submitted && reminderForm.$invalid)">
		  <span>Error:</span><br/>
          <span data-ng-show="reminderForm.email.$error.required" class="text-danger">Tell us your email to send a reminder.</span>
          <span data-ng-show="reminderForm.email.$error.email" class="text-danger">This is not a valid email.</span>
    </div>
    <fieldset data-ng-hide="hideForm">
    <div class="form-group">
    	<input id="email" type="email" name="email" class="form-control" required data-ng-model="email" placeholder="Email Address"  />
    </div>
    <div class="form-group">
		<button id="reminderBtn" type="submit" class="btn btn-primary btn-lg">Send Reminder</button>
	</div>

	<p><a href="#/login">Login</a></p>
    </fieldset>
	
	</form>
	</div>
</div>
</div>