@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

 body{
 	overflow-x:hidden;
 }

.page {

}

.page__header,.page__footer {
	text-align: center;
	padding: 0.5em 0;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 100;
}

.nav-link {
	text-transform: capitalize;
}

.navbar__logout {

}

.page__header{
	color: #fff;
	top: 0;
	background: #100;
}

.page__footer.panel-footer {
	bottom: 0;
	color: #fff;
	background-color: #18bc9c;
	border-color: #128f76;
}

.page__content {
	position: relative;
	padding: 40px 15px;
	width: 100%;
}

.chat__boxes {
	padding: 2px 0 2px;
}

.chat__boxes .chat__box:last-child{
	border-bottom: none; /*remove border form last chat box*/
}

.chat__box {
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 1px solid #ddd;
}

.chat__box-meta {
	font-size: 11px;
	text-align: right;
}
.chat__box-meta-time {
	font-style: italic;
	display: inline;
}
.chat__box-message {
	padding: 5px;
}
.chat__input,.chat__username {
	border: 1.5px solid #A09C9C;
	border-radius: 4px;
	height: 1.5em;
	line-height: 15px;
	width: 50%;
}
.chat__username {
	width: 20%;
}

.chat__boxes-none {
	padding: 6px;
}

.chat__box-meta-user {
	float: left;
	display: inline-block;
}

.chat__bubble {
	border-radius: 9px;
	background: rgba(145, 191, 219, 0.47);
	padding: 0.9em;
	margin: 0.2em;
	max-width: 100%;
	word-wrap: break-word;
}

.chat__container{
	position: relative;
	margin-bottom: 25px;
}

.chat__container--arrow:after{
   content: "";
   position: absolute;
   bottom: 33.5px;
   left: 80%;
   border-top: 20px solid black;
   border-top-color: rgba(145, 191, 219, 0.47);
   border-left: 20px solid transparent;
   border-right: 20px solid transparent; 
}

.chat__container .chat__arrow,.chat__container .chat__arrow:after{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	bottom: 1px;
	border-width: 10px;
	content: " ";
}

.chat__meta {
	margin-top: 3px;
	padding-bottom: 50.5px;
	position: relative;
}

.chat__meta--username {
	text-transform:capitalize;
}

.chat__submit {
	font-size: 29px;
	margin-left: 4px;
	cursor: pointer;
	line-height: 12px;
}

.chat__submit:hover{
	color: #57B1E4;
}

.chat__meta p {
	left: 60%;
	position: absolute;
	padding-top: 5px;
}

.chat__arrow{
	bottom: -11px;
	left: 80%;
	border-top-color: rgba(0,0,0,0.25); 
	border-bottom-width: 0;
}

.user--groups-list {
	
}

.group__container {
	position: relative;
}

.group__name {
	position: relative;
	padding: 10px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #3498d;
	background-color: rgba(54, 168, 245, 0.62);
	border-width: 1px;
	border-color: #ddd;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-style: solid;
	min-height: 69px;
	/*border-width: 1px 0;*/
}

.group__name h3 {
	margin: 10px 0px 5px 10px;
	display: inline-block;
}

.group__meta {
/*display: none;*/
	padding: 0;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.group__name + .group__meta{
margin: -15px -15px 15px;
border-radius: 0;
border-width: 0 0 1px;
}

.group__meta-heading {
	margin: 0;
	border-radius: 0;
}
.group__meta-heading .panel-heading{
	border-radius: 0;
}

.group__meta-members {
	margin: 0;
}

.group__meta-members-controls {
	padding: 5px;
}
.group__meta-nomembers p {
	padding-left: 15px;
}

.group__icon {
			float: left;
		color: #070705;
		margin-top: 25px;

}


.group__actions {
		position: absolute;
		display: inline-block;
		right: 12px;
		top: 15px;
	}


.group__info-owner {
	margin: 0 0 5px 15px;
}


/*.group__action--btn-text {
	 text-indent: -9000px; text-transform: capitalize;
}*/

@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 220px) and (max-width : 480px) {
/* Styles */
	.group__actions {
		position: static;
		text-align: center;
		display: block;
	}
	/*.group__actions .btn {
		font-size: 10px;
		padding:6px 11px;
	}*/
	.group__icon {
		margin-left: 0px;
	}

	.group__name {
		text-align: center;
	}

	.page__content {
		padding: 40px 10px;
	}
	.page-header {
		padding-bottom: 9.5px;
		margin: 24px 0 10px;
	}
	.page-header h2 {
		margin-top: 10px;
		margin-bottom: 5.5px;
	}
	.page__footer .btn {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
    /* phones */
    .page__footer .btn {
		width: 100%;
	}
}

/* Make the groupn name and meta not full-width */
@media screen and (min-width: 768px) {
	
  .group__name {
	margin-left: 0;
	margin-right: 0;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

  .group__name + .group__meta {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
	.group__icon {
		margin-left: 7px;
	}	

	.group__name h3{
		font-size: 16px;
	}
	.group__info-owner {
		font-size: 12px;
	}

	.group__action-btn {
		padding: 2px 5px 5px;
		font-size: 12px;
		border-radius: 2px;
	}

	.group-chats {
		padding: 0;
	}

	/*.page__footer-ctrls--add-group {
		float: left;
	}


 .page__footer-form {
 	float: left;
 }*/

}



/*.group__name {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}*/

.blue-bg {
	background: #236A99;
}
.errors {
	font-size: 12px;
}

.notify {
	text-transform: capitalize;
}

.text--white {
	color: #fff;
}

.text--red {
	color: #e74c3c;
}

.alert-error, .error-panel {
	  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}


/*.ng-invalid input {
	color :#e74c3c;
}*/
#loader {
	position: absolute;
	left: 0px;
	top: 50%;
	background: rgba(231, 230, 225, 0.8);
	padding: 1em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	border: 1px solid rgb(51, 42, 20);
}

input.ng-invalid.ng-dirty {
	border:1px solid #C2495E;
}


input.ng-invalid.ng-dirty {
	border:1px solid #C2495E;
}